[submodule "modules/nlib"]
	path = modules/nlib
	url = git@github.com:Netrix/nlib.git
[submodule "modules/box2d"]
	path = modules/box2d
	url = git@github.com:Netrix/foreign-box2d.git
[submodule "modules/sdl"]
	path = modules/sdl
	url = git@github.com:Netrix/foreign-sdl.git
